.signUpContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.signUpTitleCont {
    margin: 0 auto;
}

.signUpInputCont {
    margin: 0 auto;
}




@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 767px) {
    .signUpInputCont {
        display: flex;
        flex-direction: column;
    }

    .signUpContainer {
        
    }
}