.timerDigit {
    background-color: rgb(50, 190, 166);
    border: none;
    border-radius: 50%;
    font-size: large;
    padding: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: azure;
}

.timerDigit:hover {
    background-color: rgba(50, 190, 166, 0.8);
}