.Modal {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.Modal.active {
    transform: scale(1);
}

.Modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(155, 17, 17);
}