@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&display=swap');


:root {
    --backFieldsColor: #ffffff;
    --boxesShadows: 0 0.5px 10px -3px;
    --secondElementsColor: rgb(0, 183, 255);
    font-size: 16px;
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/comfortaa/v37/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMDr4fIA9c.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }


 .bodyContainer {
    display: grid;
    width: auto;
    grid-template-areas: 
    'H H'
    'M M'
    'F F';
    font-family: 'Comfortaa';
  } 

  .btn {
    border: none;
    margin: 10px;
    width: 50px;
    cursor: pointer;
} 


.buttons {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

  .mainContent {
      grid-area: M;
      background-color: #d7f3f6;
      margin-top: 75px;
  }
  
  .headerComponent {
      grid-area: H;
  }


  .footerComponent {
      grid-area: F;

  }

